
<div class="lds-circle" style="@($"width:{Size}px; height: {Size}px; background-color: {Color}")"></div>

@code {

    [Parameter] public int Size { get; set; } = 60;

    [Parameter] public string Color { get; set; } = "#7f58af";
}
