.plr-cube-grid {
  display: inline-block;
  position: relative;
}

.plr-cube-grid .plr-cube {
  width: 33%;
  height: 33%;
  
  float: left;
  -webkit-animation: plr-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: plr-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.plr-cube-grid .plr-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.plr-cube-grid .plr-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.plr-cube-grid .plr-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.plr-cube-grid .plr-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.plr-cube-grid .plr-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.plr-cube-grid .plr-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.plr-cube-grid .plr-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.plr-cube-grid .plr-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.plr-cube-grid .plr-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes plr-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes plr-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}