<div class="lds-spinner">
    @for (int i = 0; i < 12; i++)
    {
        <div>
            <div class="div-after" style="@($"background: {Color}")" />
        </div>
    }
</div>

@code {

    [Parameter] public string Color { get; set; } = "#7f58af";

}