
<div class="lds-circle" style=@GetStyle()></div>

@code {

    string GetStyle() => $"width:{Size}px; height: {Size}px; background-color: {Color}";

    [Parameter] public byte Size { get; set; } = 60;

    [Parameter] public string Color { get; set; } = "#7f58af";
}
