@page "/"
@using BlazorSpinner

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<Circle Size="40" Color="green"></Circle>